---
#master3
---

    /*---------------------------------------------------*/
@import "mixins_1";
    /*---------------------------------------------------*/



    /*---------------------------------------------------*/
// scale
@mixin scale($scale) {
  @include transform(scale($scale));
} 
// translate
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}
// skew
@mixin skew ($x, $y) {
   @include transform(skew(#{$x}deg, #{$y}deg));
}
// rotate
@mixin rotate ($x, $y) {
   @include transform(rotate(#{$x}deg, #{$y}deg));
}
    /*---------------------------------------------------*/




    /*---------------------------------------------------*/
@mixin box-shadow{
-webkit-box-shadow: 0px 0px 61px 29px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 61px 29px rgba(0,0,0,0.75);
box-shadow: 0px 0px 61px 29px rgba(0,0,0,0.75);
}
    /*---------------------------------------------------*/



    /*---------------------------------------------------*/
$color_1:white;
$color_2:black;
$color_3:blue;
$color_4:lightblue;
$color_5:orange;

$anim_speed_0: 0s;
$anim_speed_1: .25s;
$anim_speed_2: .5s;
$anim_speed_3: .75s;
    /*---------------------------------------------------*/




    /*---------------------------------------------------*/
body,
html{
  margin:0;
  padding:0;
  height:100%;
  background:$color_2;
    text-shadow: 0 0 2px yellow;
overflow-x:hidden;
}


.aa{
perspective:200px;
}	

.bb{
 /* transform: skewX(-30deg);*/
  width: 80%;margin-left:10%;
  height: 100%; 
  transform-style: preserve-3d;
}

.cc{
  transform: rotateX(35deg) ; 
  height: 100%; 
  transform-style: preserve-3d;
}

footer#one{
  width:100%;
  height:100px;
  margin-top:20vh;
  background:purple;
  clear:both;
}

header.header_2 {
  background:red;
  transform-style: preserve-3d;
  margin:0 auto;
  height: 50vh; 
  width: 100%;
  transform:rotateX(17deg);

  div{
    width:100%;
    height:25%;
    margin:0 auto;
    transform-style:preserve-3d;
    P{
        transform-style:preserve-3d;
        background:green;
        color:$color_1; 
	width:94%;
        margin:0 auto;
	margin-right:4.6vw;
	font-size:3.5vw;
	line-height:3.5vw;
	margin-top:0vw;
	text-align:center;
	
    }
  }
	/*transform-origin:50% 50%;*/
 /* transform: rotateX(30deg) skewX(-64deg);*/
}



.logo{
  height:100%;
  width:100%;	  
}

.boxer{
  background:blue;
  height:100%;
  width:100%;
  p{
    background:white;
    width:70%;
    margin:2px auto;
  }
}

.bub{
  height:100%;
  width:100%;
  background:lightgreen;margin-top:-8vh;
 // transform: rotate(-20deg);
 // transform-style: preserve-3d;
 // transform-origin: 30% -20%;
}

 object{  
  pointer-events: none !important;
}

#gordo{
  background:$color_2;
  height:100%;
  min-height:100%;
  width:100%;
}

#bake{ 
  margin-top:100px;
  background:$color_2;
}

#cake{ 
  background:$color_2;
  min-height:100%;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px; 
}
	
.pud{
  @include transitions(all $anim_speed_3 ease);
  height: 48vh;
  width:58vw; 
  margin:0 auto;
  margin-bottom:1vw;/*border*/
  padding: 0; 
  position: relative;
  border:2px solid $color_1;
  box-sizing: border-box;

}

.center_1{  
  @include transitions(all $anim_speed_3 ease);
  @include skew(45, 0);
  @include rotate(45, 0);
 /* height: 48vh;*/
  width:58vw;   height:48vh;

  margin:0 auto;
  margin-bottom:1vw;/*border*/
  padding: 0; 
  position: relative;
  border:2px solid $color_1;
  box-sizing: border-box;
}

.center_2{  
  @include transitions(all $anim_speed_3 ease);
  @include skew(-45, 0);
  @include rotate(-45, 0);
 /* height: 48vh;*/
  width:58vw;   height:48vh;

  margin:0 auto;
  margin-bottom:1vw;/*border*/
  padding: 0; 
  position: relative;
  border:2px solid $color_1;
  box-sizing: border-box;
}

.image_center_one{
  background:red;
  width:100%;
 /*  height:48vh; */
  margin:0 auto;
}

.image_center_two{
  background:$color_1;
  height:100%;
	width:100%;
  margin:0 auto;
  text-align:center;
}



IMG.displayed {
  width:auto;
  height:100%;
}


.house{height:90vh;width:80%;margin:0 auto;background:yellow}



.p_0{
  background:blue;
  @include transitions(all $anim_speed_3 ease);
  @include skew(-33, 0);
  @include rotate(-45, 99);
  perspective:55vh;
  position: relative;
  height: 48vh;
  width:58vw; 
  margin:0 auto;
  margin-bottom:1vw;/*border*/
  padding: 0; 
  box-sizing: border-box;
}

.pud_1{
  background:$color_1;
 /* border:1px solid $color_2; */
  @include transitions(all $anim_speed_3 ease);
  @include skew(45, 0);
  @include rotate(45, 0);
}
	
.pud_2{
  background:$color_1;
 /* border:1px solid $color_2; */
  @include transitions(all $anim_speed_3 ease);
  @include skew(-45, 0);
  @include rotate(-45, 0);
}

.cd{
  margin-bottom:20vh;
}	


      /*-------------BB toggle classes -------------------*/
      /*-------------BB toggle classes -------------------*/
.perspective{perspective:900px;}

.marg_bottom_1{margin-bottom:50px;}

.marg_top_1{
  @include transitions(all $anim_speed_2 ease);
  margin-top:96vh;
}

.skew{
 transform:skewY(-5deg);
}

.height{
  @include transitions(all $anim_speed_0 );
  height:96%; 
}

.height2{
  @include transitions(all $anim_speed_3 );
  height:100%; 
}

.position{
  @include transitions(all $anim_speed_3 ease);
  position:fixed;
  top:2%;
 /* display:block; */
  z-index:9999;
  pointer-events: auto !important;
   @include box-shadow;
}

.width{
  @include transitions(all $anim_speed_1 ease);
  width:96%;margin-left:2%;
}

.transform{  
  @include transitions(all $anim_speed_3 ease);
  @include skew(0, 0);
  @include rotate(0, 0);
}
		


.pointer_events_auto{
  pointer-events: auto !important;
}

.pointer_events_none{
  pointer-events: none !important;
}

.padd_bott{
  @include transitions(all $anim_speed_2 ease);
  padding-bottom:30vh;
}

.overflow{
  @include transitions(all $anim_speed_3 ease-in);
  height:100vh;overflow:hidden;
}

.close_but { 
  background: lightblue;
  display: none; 
  position: absolute;
  z-index: 99999; 
  top: 90px;
  right: 90px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  font-size: 50px;
  text-align:center;
}

.close_but:hover { cursor: pointer; transition: background-color 1s ease; background-color: red; }

.display_vis { display: block; }
.display_none { display: none; }
      /*-------------EE toggle classes -------------------*/
      /*-------------EE toggle classes -------------------*/






@media screen and (max-width: 480px) {
  #cake{background:green;height:auto}
  .pud{width:35vw;height:45vh;margin:0 auto;}
  .skew{transform: skewY(-1deg);}
  .perspective{perspective:none;}
  .width{width:116vw;transition:all .5s;} 
  .height{height:120vh;transition:all .5s;} 
}

@media screen and (min-width: 481px) and (max-width:960px) {
  .pud{width:50vw;height:45vh;margin:0 auto;}
  .width{width:96% !important; margin-left:2%;transition:all .5s;} 
  .height{height:94vh;transition:all .5s;} 
  .skew{transform: skewY(-4deg);}
}
