/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/
body, html { margin: 0; padding: 0; height: 100%; background: black; text-shadow: 0 0 2px yellow; overflow-x: hidden; }

.aa { perspective: 200px; }

.bb { /* transform: skewX(-30deg);*/ width: 80%; margin-left: 10%; height: 100%; transform-style: preserve-3d; }

.cc { transform: rotateX(30deg); height: 100%; transform-style: preserve-3d; }

footer#one { width: 100%; height: 100px; margin-top: 20vh; background: purple; clear: both; }

header.header_2 { background: red; transform-style: preserve-3d; margin: 0 auto; height: 50vh; width: 100%; transform: rotateX(17deg); /*transform-origin:50% 50%;*/ /* transform: rotateX(30deg) skewX(-64deg);*/ }
header.header_2 div { width: 100%; height: 25%; margin: 0 auto; transform-style: preserve-3d; }
header.header_2 div P { transform-style: preserve-3d; background: green; color: white; width: 95%; margin: 0 auto; margin-right: 3.8vw; font-size: 3.7vw; line-height: 3.7vw; margin-top: 0vw; text-align: center; }

.logo { height: 100%; width: 100%; }

.boxer { background: blue; height: 100%; width: 100%; }
.boxer p { background: white; width: 70%; margin: 2px auto; }

.bub { height: 100%; width: 100%; background: lightgreen; margin-top: -8vh; }

object { pointer-events: none !important; }

#gordo { background: black; height: 100%; min-height: 100%; width: 100%; }

#bake { margin-top: 100px; background: black; }

#cake { background: black; min-height: 100%; width: 100%; margin: 0 auto; margin-top: 100px; }

.pud { -moz-transition: all 0.75s ease; -o-transition: all 0.75s ease; -ms-transition: all 0.75s ease; -webkit-transition: all 0.75s ease; transition: all 0.75s ease; height: 48vh; width: 58vw; margin: 0 auto; margin-bottom: 1vw; /*border*/ padding: 0; position: relative; border: 2px solid white; box-sizing: border-box; }

.center_1 { -moz-transition: all 0.75s ease; -o-transition: all 0.75s ease; -ms-transition: all 0.75s ease; -webkit-transition: all 0.75s ease; transition: all 0.75s ease; -moz-transform: skew(45deg, 0deg); -o-transform: skew(45deg, 0deg); -ms-transform: skew(45deg, 0deg); -webkit-transform: skew(45deg, 0deg); transform: skew(45deg, 0deg); -moz-transform: rotate(45deg, 0deg); -o-transform: rotate(45deg, 0deg); -ms-transform: rotate(45deg, 0deg); -webkit-transform: rotate(45deg, 0deg); transform: rotate(45deg, 0deg); /* height: 48vh;*/ width: 58vw; height: 48vh; margin: 0 auto; margin-bottom: 1vw; /*border*/ padding: 0; position: relative; border: 2px solid white; box-sizing: border-box; }

.center_2 { -moz-transition: all 0.75s ease; -o-transition: all 0.75s ease; -ms-transition: all 0.75s ease; -webkit-transition: all 0.75s ease; transition: all 0.75s ease; -moz-transform: skew(-45deg, 0deg); -o-transform: skew(-45deg, 0deg); -ms-transform: skew(-45deg, 0deg); -webkit-transform: skew(-45deg, 0deg); transform: skew(-45deg, 0deg); -moz-transform: rotate(-45deg, 0deg); -o-transform: rotate(-45deg, 0deg); -ms-transform: rotate(-45deg, 0deg); -webkit-transform: rotate(-45deg, 0deg); transform: rotate(-45deg, 0deg); /* height: 48vh;*/ width: 58vw; height: 48vh; margin: 0 auto; margin-bottom: 1vw; /*border*/ padding: 0; position: relative; border: 2px solid white; box-sizing: border-box; }

.image_center_one { background: red; width: 100%; /*  height:48vh; */ margin: 0 auto; }

.image_center_two { background: white; height: 100%; width: 100%; margin: 0 auto; text-align: center; }

IMG.displayed { width: auto; height: 100%; }

.house { height: 90vh; width: 80%; margin: 0 auto; background: yellow; }

.p_0 { background: blue; -moz-transition: all 0.75s ease; -o-transition: all 0.75s ease; -ms-transition: all 0.75s ease; -webkit-transition: all 0.75s ease; transition: all 0.75s ease; -moz-transform: skew(-33deg, 0deg); -o-transform: skew(-33deg, 0deg); -ms-transform: skew(-33deg, 0deg); -webkit-transform: skew(-33deg, 0deg); transform: skew(-33deg, 0deg); -moz-transform: rotate(-45deg, 99deg); -o-transform: rotate(-45deg, 99deg); -ms-transform: rotate(-45deg, 99deg); -webkit-transform: rotate(-45deg, 99deg); transform: rotate(-45deg, 99deg); perspective: 55vh; position: relative; height: 48vh; width: 58vw; margin: 0 auto; margin-bottom: 1vw; /*border*/ padding: 0; box-sizing: border-box; }

.pud_1 { background: white; /* border:1px solid $color_2; */ -moz-transition: all 0.75s ease; -o-transition: all 0.75s ease; -ms-transition: all 0.75s ease; -webkit-transition: all 0.75s ease; transition: all 0.75s ease; -moz-transform: skew(45deg, 0deg); -o-transform: skew(45deg, 0deg); -ms-transform: skew(45deg, 0deg); -webkit-transform: skew(45deg, 0deg); transform: skew(45deg, 0deg); -moz-transform: rotate(45deg, 0deg); -o-transform: rotate(45deg, 0deg); -ms-transform: rotate(45deg, 0deg); -webkit-transform: rotate(45deg, 0deg); transform: rotate(45deg, 0deg); }

.pud_2 { background: white; /* border:1px solid $color_2; */ -moz-transition: all 0.75s ease; -o-transition: all 0.75s ease; -ms-transition: all 0.75s ease; -webkit-transition: all 0.75s ease; transition: all 0.75s ease; -moz-transform: skew(-45deg, 0deg); -o-transform: skew(-45deg, 0deg); -ms-transform: skew(-45deg, 0deg); -webkit-transform: skew(-45deg, 0deg); transform: skew(-45deg, 0deg); -moz-transform: rotate(-45deg, 0deg); -o-transform: rotate(-45deg, 0deg); -ms-transform: rotate(-45deg, 0deg); -webkit-transform: rotate(-45deg, 0deg); transform: rotate(-45deg, 0deg); }

.cd { margin-bottom: 20vh; }

/*-------------BB toggle classes -------------------*/
/*-------------BB toggle classes -------------------*/
.perspective { perspective: 900px; }

.marg_bottom_1 { margin-bottom: 50px; }

.marg_top_1 { -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; -ms-transition: all 0.5s ease; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; margin-top: 96vh; }

.skew { transform: skewY(-5deg); }

.height { -moz-transition: all 0s; -o-transition: all 0s; -ms-transition: all 0s; -webkit-transition: all 0s; transition: all 0s; height: 96%; }

.height2 { -moz-transition: all 0.75s; -o-transition: all 0.75s; -ms-transition: all 0.75s; -webkit-transition: all 0.75s; transition: all 0.75s; height: 100%; }

.position { -moz-transition: all 0.75s ease; -o-transition: all 0.75s ease; -ms-transition: all 0.75s ease; -webkit-transition: all 0.75s ease; transition: all 0.75s ease; position: fixed; top: 2%; /* display:block; */ z-index: 9999; pointer-events: auto !important; -webkit-box-shadow: 0px 0px 61px 29px rgba(0, 0, 0, 0.75); -moz-box-shadow: 0px 0px 61px 29px rgba(0, 0, 0, 0.75); box-shadow: 0px 0px 61px 29px rgba(0, 0, 0, 0.75); }

.width { -moz-transition: all 0.25s ease; -o-transition: all 0.25s ease; -ms-transition: all 0.25s ease; -webkit-transition: all 0.25s ease; transition: all 0.25s ease; width: 96%; margin-left: 2%; }

.transform { -moz-transition: all 0.75s ease; -o-transition: all 0.75s ease; -ms-transition: all 0.75s ease; -webkit-transition: all 0.75s ease; transition: all 0.75s ease; -moz-transform: skew(0deg, 0deg); -o-transform: skew(0deg, 0deg); -ms-transform: skew(0deg, 0deg); -webkit-transform: skew(0deg, 0deg); transform: skew(0deg, 0deg); -moz-transform: rotate(0deg, 0deg); -o-transform: rotate(0deg, 0deg); -ms-transform: rotate(0deg, 0deg); -webkit-transform: rotate(0deg, 0deg); transform: rotate(0deg, 0deg); }

.pointer_events_auto { pointer-events: auto !important; }

.pointer_events_none { pointer-events: none !important; }

.padd_bott { -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; -ms-transition: all 0.5s ease; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; padding-bottom: 30vh; }

.overflow { -moz-transition: all 0.75s ease-in; -o-transition: all 0.75s ease-in; -ms-transition: all 0.75s ease-in; -webkit-transition: all 0.75s ease-in; transition: all 0.75s ease-in; height: 100vh; overflow: hidden; }

.close_but { background: lightblue; display: none; position: absolute; z-index: 99999; top: 90px; right: 90px; height: 50px; width: 50px; line-height: 50px; font-size: 50px; text-align: center; }

.close_but:hover { cursor: pointer; transition: background-color 1s ease; background-color: red; }

.display_vis { display: block; }

.display_none { display: none; }

/*-------------EE toggle classes -------------------*/
/*-------------EE toggle classes -------------------*/
@media screen and (max-width: 480px) { #cake { background: green; height: auto; }
  .pud { width: 35vw; height: 45vh; margin: 0 auto; }
  .skew { transform: skewY(-1deg); }
  .perspective { perspective: none; }
  .width { width: 116vw; transition: all .5s; }
  .height { height: 120vh; transition: all .5s; } }
@media screen and (min-width: 481px) and (max-width: 960px) { .pud { width: 50vw; height: 45vh; margin: 0 auto; }
  .width { width: 96% !important; margin-left: 2%; transition: all .5s; }
  .height { height: 94vh; transition: all .5s; }
  .skew { transform: skewY(-4deg); } }
