---
#header1
---

mask-overlay {
  display: block;
  background-color: white;text-align:center;
  mix-blend-mode: screen;border:3.2rem solid;font-size: 14vw;  animation: colormorph 20s infinite;
}
.mask-overlay h1 {
  animation: colormorph 20s infinite;    
  margin: 0;
   padding:0;
   padding-bottom:0;
   color: black;
  font-size: 16vw;
  font-weight: normal;
  text-transform: uppercase;
}

