---
#oragami
---
$A1-color:green;$B1-color:blue;$C1-color:yellow;$D1-color:brown;$E1-color:lightblue;$F1-color:orange;



.big_bub div {
  transform-style: preserve-3d;
  transform-origin: 45% -20%;
}

@mixin big-bub-1 {
  $bubble-height:200px;
  height: $bubble-height;
  width:600px;
  margin:0;
  padding:0;  
}

.slab_test { width: 100%; height: 100%; position: absolute; -webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; -o-transform-style: preserve-3d; transform-style: preserve-3d; }
.slab_test figure { display: block; margin: 0; position: absolute; border: 1px solid #000; opacity: .7; }
.slab_test .panels-backface-invisible figure { -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -o-backface-visibility: hidden; backface-visibility: hidden; }
.slab_test .front, .slab_test .back { width: 10vw; height: 5vw; }
.slab_test .right, .slab_test .left { width: 14vw; height: 5vw; left: -2vw; }
.slab_test .top, .slab_test .bottom { width: 10vw; height: 14vw; top: -4.5vw; }
.slab_test .front { transform: rotateY(0deg) translateZ(7vw); background: red; }
.slab_test .back { transform: rotateX(60deg) translateZ(7vw); background: red; }
.slab_test .right { transform: rotateY(30deg) translateZ(5vw); background: green; }
.slab_test .left { transform: rotateY(-30deg) translateZ(5vw); background: green; }
.slab_test .top { transform: rotateX(30deg) translateZ(2.5vw); background: blue; }
.slab_test .bottom { transform: rotateX(-30deg) translateZ(2.5vw); background: blue; }


.big_bub{
  background:none;
  width:100%;
  margin:0;
  margin-left:100px;
  margin-top:100px;
  padding:0;
  
}




.A1{
  @include big-bub-1;
  background:$A1-color;
  transform:rotate(30deg); 
}

.B1{
  @include big-bub-1;
  background:$B1-color;
  transform:rotate(-30deg) ;
  
}

.C1{
  @include big-bub-1;
  background:$C1-color;
  transform:rotate(30deg);  
}


