---
#oragami
---
$A1-color:green;$B1-color:blue;$C1-color:yellow;$D1-color:brown;$E1-color:lightblue;$F1-color:orange;





@mixin big-bub-1 {
  $bubble-height:200px;
  height: $bubble-height;
  width:600px;
  margin:0;
  padding:0;
}

.big_bub{
  width:100%;
  margin:0;
  padding:0;
}

.A1{
  @include big-bub-1;
  background:$A1-color;
}

.B1{
  @include big-bub-1;
  background:$B1-color;
}

.C1{
  @include big-bub-1;
  background:$C1-color;
}
