.mask-overlay {
  display: block;
  background-color: white;
  mix-blend-mode: screen;border:3px solid red;text-align:center;font-size: 11vw;
}
.mask-overlay h1 {
  animation: colormorph 20s infinite;

}

.buddy {

  background-blend-mode: exclusion;
  background-color: #bada55;
  background-image: url("//s3-us-west-2.amazonaws.com/s.cdpn.io/66630/Aurora2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Raleway, Arial Black, sans-serif;
}

@keyframes colormorph {
  50% {
    color: red;
  }
  100% {
    color: black;
  }
}
