.mask-overlay {
  display: block;
  background-color: white;1rem
  mix-blend-mode: screen;border:53px solid;text-align:center;font-size: 17vw;  animation: colormorph 20s infinite;
}
.mask-overlay h1 {
  animation: colormorph 20s infinite;    box-sizing: border-box;
  margin: 0;
  padding: 3rem;
  color: black;
  font-size: 16vw;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
}
.buddy {

  background-blend-mode: screen;
  background-color: #black;
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/dc/da/05/dcda05b2c2e4db345d456beb1e831db4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Raleway, Arial Black, sans-serif;
}

@keyframes colormorph {
  50% {
    color: red;
  }
  100% {
    color: black;
  }
}


