---
#eee
---


@mixin zig-zag-1 {
  $bubble-height:60vh;
  height: $bubble-height;
  width:60%;
  margin:0 auto;
  padding:0;
  position: relative;
  border: 1px solid black;
}

.mushroom{
  position:fixed !important;
  z-index:9999 !important;
  top:2vw !important;
  margin-top:0 !important;
  left:2vw !important;
  bottom:2vw !important;
  right:2vw !important;
  border:2px solid black !important;
  -webkit-box-shadow: 0px 0px 101px 17px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 101px 17px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 101px 17px rgba(0,0,0,0.75);
  height:100vh !important;
  width:100vw !important;
  transform: translateX(0vw) rotateY(0deg) !important;
  transform-style: flat !important;
  pointer-events: auto !important;
}
object{  
  pointer-events: none !important;
}
.close_but{
  position:absolute;z-index:99999;
  top:90px;
  right:90px;
  height:50px;
  width:50px;
  line-height:50px;
  font-size:40px;
  background:lightblue;
  display:none;
}
.close_but:hover{
  cursor:pointer;
  transition: background-color 1s ease;
  background-color: red;
}

.display_vis{display:block;}

.big_bub{  
  background:pink;
  width:100%;
  margin:0 auto;
  margin-top:100px;
  transform:skewY(-5deg);
/* -webkit-perspective: 450px;
  perspective: 450px;
  */
}

#div1 {
  position: relative;
  text-align:center;
  width: 70%;
  transform: translateX(15vw) rotateY(12deg);
  border: 1px solid black;
  transform-style: preserve-3d;
}

#div2 {
  @include zig-zag-1;
  background-color: red;
  -webkit-transform: rotateX(-40deg); /* Chrome, Safari, Opera  */
  transform: rotateX(-40deg);
  transform: skewX(-40deg);

}
#div3 {
  @include zig-zag-1;
  background-color: blue;
  -webkit-transform: rotateX(40deg); /* Chrome, Safari, Opera  */
  transform: rotateX(40deg);
  transform: skewX(40deg);
}

#div4 {
  @include zig-zag-1;
  background-color: red;
  -webkit-transform: rotateX(-40deg); /* Chrome, Safari, Opera  */
  transform: rotateX(-40deg);
  transform: skewX(-40deg);
}

#div5 {
  @include zig-zag-1;
  background-color: blue;
  -webkit-transform: rotateX(40deg); /* Chrome, Safari, Opera  */
  transform: rotateX(40deg);
  transform: skewX(40deg);
}

@media only screen and (max-width: 680px) {
  @mixin zig-zag-1 {
    $bubble-height:30vh;
    height: $bubble-height;
    width:60%;
    margin:0 auto;
    padding:0;
    position: relative;
    border: 1px solid red;
  }
  #div2 {
  @include zig-zag-1;
  background-color: red;
  -webkit-transform: rotateX(-40deg); /* Chrome, Safari, Opera  */
  transform: rotateX(-40deg);
  transform: skewX(-40deg);

  }
  #div3 {
  @include zig-zag-1;
  background-color: blue;
  -webkit-transform: rotateX(40deg); /* Chrome, Safari, Opera  */
  transform: rotateX(40deg);
  transform: skewX(40deg);
  }

  #div4 {
  @include zig-zag-1;
  background-color: red;
  -webkit-transform: rotateX(-40deg); /* Chrome, Safari, Opera  */
  transform: rotateX(-40deg);
  transform: skewX(-40deg);
  }

  #div5 {
  @include zig-zag-1;
  background-color: blue;
  -webkit-transform: rotateX(40deg); /* Chrome, Safari, Opera  */
  transform: rotateX(40deg);
  transform: skewX(40deg);
  }
}
