---
#eee
---


@mixin zig-zag-1 {
  $bubble-height:50vh;
  height: $bubble-height;
  width:50%;
  margin:0;
  padding:0;
  position: relative;
  border: 1px solid black;
}



.big_bub{  
  background:pink;
  width:70%;
  margin:0 auto;
  margin-top:100px;
  -webkit-perspective: 450px; /* Chrome, Safari, Opera  */
  perspective: 450px;


}
#div1 {
  position: relative;
  width: 150px;
  transform:rotateY(12deg);
  border: 1px solid black;
  transform-style: preserve-3d;
}

#div2 {
  @include zig-zag-1;
  background-color: red;
  -webkit-transform: rotateX(-40deg); /* Chrome, Safari, Opera  */
  transform: rotateX(-40deg);
  transform: skewX(-40deg);

}
#div3 {
  @include zig-zag-1;
  background-color: blue;
  -webkit-transform: rotateX(40deg); /* Chrome, Safari, Opera  */
  transform: rotateX(40deg);
  transform: skewX(40deg);
}

#div4 {
  @include zig-zag-1;
  background-color: red;
  -webkit-transform: rotateX(-40deg); /* Chrome, Safari, Opera  */
  transform: rotateX(-40deg);
  transform: skewX(-40deg);
}

#div5 {
  @include zig-zag-1;
  background-color: blue;
  -webkit-transform: rotateX(40deg); /* Chrome, Safari, Opera  */
  transform: rotateX(40deg);
  transform: skewX(40deg);
}
