---
#portfolio4
---

@mixin zig-zag-1 {
  $bubble-height:60vh;
  height: $bubble-height;
  width:60%;
  margin:0 auto;
  padding:0;
  position: relative;
  border: 1px solid black;
}

.mushroom{
  position:fixed !important;
  z-index:9999 !important;
  top:0vw !important;
  margin-top:0 !important;
  left:0vw !important;
  bottom:0vw !important;
  right:0vw !important;
  height:100vh !important;
  width:100vw !important;
  transform: translateX(0vw) rotateY(0deg) !important;
  transform-style: flat !important;
  pointer-events: auto !important;
  background:lightblue;
}

.mushroomsss{
  position:fixed !important;
  z-index:9999 !important;
  top:0vw !important;
  margin-top:0 !important;
  left:0vw !important;
  right:0vw !important;
  height:auto !important;
  width:100vw !important;
  transform: translateX(0vw) rotateY(0deg) !important;
  transform-style: flat !important;
  pointer-events: auto !important;
  background:lightblue;
}

.mushroom_2{
  position:fixed !important;
  z-index:9999 !important;
  bottom:2% !important;
  top:2% !important;
  margin-top:0 !important;
  margin:0 auto !important;
  left:2% !important;
  height:300vh  !important;
  width:96% !important;
  transform: translateX(0vw) rotateY(0deg) !important;
  transform-style: flat !important;
  pointer-events: auto !important;
  -webkit-box-shadow: 0px 0px 101px 39px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 101px 39px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 101px 39px rgba(0,0,0,0.75);
}
.mushroom_3{
  position:fixed !important;
  z-index:9999 !important;
  bottom:2% !important;
  top:2% !important;
  margin-top:0 !important;
  margin:0 auto !important;
  left:2% !important;
  height:100vh  !important;
  width:96% !important;
  transform: translateX(0vw) rotateY(0deg) !important;
  transform-style: flat !important;
  pointer-events: auto !important;
  -webkit-box-shadow: 0px 0px 101px 39px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 101px 39px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 101px 39px rgba(0,0,0,0.75);
}
object{  
  pointer-events: none !important;
}
.obj_bone{
  width:50vw;
}

.close_but{
  position:absolute;z-index:99999;
  top:90px;
  right:90px;
  height:50px;
  width:50px;
  line-height:50px;
  font-size:40px;
  background:lightblue;
  display:none;
}
.close_but:hover{
  cursor:pointer;
  transition: background-color 1s ease;
  background-color: red;
}

.display_vis{display:block;}
.display_bloc{
  position:absolute;
  display:block;
  transform: translateX(0vw) rotateY(0deg) !important;
  transform:skewY(0deg)!important;
  width:100%!important;
  height:100%!important;
}
.display_bloc_2{
  position:fixed!important;
  z-index:99999 !important;
  top:0vh !important;  
  margin-top:0 !important;
  bottom:0vh!important;
  left:0vw !important;
  right:0vw !important;
  display:block !important;
  transform: translateX(0vw) rotateY(0deg) !important;
  transform:skewY(0deg)!important;
  width:100vw !important;
  height:100vh !important;
}

.big_bub{  
  background:pink;
  width:100%;
  margin:0 auto;
  margin-top:100px;
  transform:skewY(-5deg);
/* -webkit-perspective: 450px;
  perspective: 450px;
  */
}
.skew_zero{ 
  transform:skewY(0deg);
}
.pop{
  height:100vh !important;
}
#div1 {
  position: relative;
  text-align:center;
  width: 70%;
  transform: translateX(15vw) rotateY(12deg);
  border: 1px solid black;
  transform-style: preserve-3d;
}
.transform_flat{
  transform-style: flat !important;
}
#div2 {
  @include zig-zag-1;
  background-color: red;
  -webkit-transform: rotateX(-40deg); /* Chrome, Safari, Opera  */
  transform: rotateX(-40deg);
  transform: skewX(-40deg);

}
#div3 {
  @include zig-zag-1;
  background-color: blue;
  -webkit-transform: rotateX(40deg); /* Chrome, Safari, Opera  */
  transform: rotateX(40deg);
  transform: skewX(40deg);
}

#div4 {
  @include zig-zag-1;
  background-color: red;
  -webkit-transform: rotateX(-40deg); /* Chrome, Safari, Opera  */
  transform: rotateX(-40deg);
  transform: skewX(-40deg);
}

#div5 {
  @include zig-zag-1;
  background-color: blue;
  -webkit-transform: rotateX(40deg); /* Chrome, Safari, Opera  */
  transform: rotateX(40deg);
  transform: skewX(40deg);
}

@media only screen and (max-width: 680px) {
  @mixin zig-zag-1 {
    $bubble-height:30vh;
    height: $bubble-height;
    width:60%;
    margin:0 auto;
    padding:0;
    position: relative;
    border: 1px solid red;
  }
  #div2 {
  @include zig-zag-1;
  background-color: red;
  -webkit-transform: rotateX(-40deg); /* Chrome, Safari, Opera  */
  transform: rotateX(-40deg);
  transform: skewX(-40deg);

  }
  #div3 {
  @include zig-zag-1;
  background-color: blue;
  -webkit-transform: rotateX(40deg); /* Chrome, Safari, Opera  */
  transform: rotateX(40deg);
  transform: skewX(40deg);
  }

  #div4 {
  @include zig-zag-1;
  background-color: red;
  -webkit-transform: rotateX(-40deg); /* Chrome, Safari, Opera  */
  transform: rotateX(-40deg);
  transform: skewX(-40deg);
  }

  #div5 {
  @include zig-zag-1;
  background-color: blue;
  -webkit-transform: rotateX(40deg); /* Chrome, Safari, Opera  */
  transform: rotateX(40deg);
  transform: skewX(40deg);
  }
}
