---
#love
---

$font-stack:    Helvetica, sans-serif;
$primary-color: black;
$secondary-color: white;

/* begin heights */
$hgt50vh: height:50vh;
$hgt70vh: height:70vh;
$hgt100vh: height:100vh;

$hgtauto: height:auto;
$hgt100per: height:100%;
/* end heights */

/* begin borders */
$bor1pxbl: 1px solid black;
$bor2pxbl: 2px solid black;
/* end borders */

body {
  font: 100% $font-stack;
  color: $primary-color;
}

.box-set,
.box {
  margin:0;
  padding:0;
}
