---
#love
---

$font-stack:    Helvetica, sans-serif;
$primary-color: black;
$secondary-color: white;


/* begin borders */
$bor1pxbl: 1px solid black;
$bor2pxbl: 2px solid black;
/* end borders */

body {
  font: 100% $font-stack;
  color: $primary-color;
}

div {
  border: $bor1pxbl;
}

.box-set, .box {
 margin:0;padding:0;}
}

.box-set:before, .box-set:after {
  content: "";
  display: table;
}

.box-set:after {
  clear: both;
}

.box-set {
  *zoom: 1;height:60px;
}

.city{background: black}

.shitty{background: white;}

.box {
  float: left;
  margin: 1.858736059%;
  margin-top:0;
  margin-bottom:0;
  padding: 5px 0;
  text-align: center;
  width: 29.615861214%;
}

.message {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}


