---
#love
---

$font-stack:    Helvetica, sans-serif;
$primary-color: black;
$secondary-color: white;



/* begin borders */
$bor1pxbl: 1px solid black;
$bor2pxbl: 2px solid black;
/* end borders */

body {
  font: 100% $font-stack;
  color: $primary-color;
}

#testerblock {
  border: $bor2pxbl;
}

