/*begin function city*/

.box-set,
.box {
 margin:0;padding:0;}
}
.box-set:before,
.box-set:after {
  content: "";
  display: table;
}
.box-set:after {
  clear: both;
}
.box-set {
  background:white;
  *zoom: 1;height:60px;
}
.box {
  float: left;
  margin: 1.858736059%;margin-top:0;margin-bottom:0;
  padding: 2.5px 0;
  text-align: center;
  width: 29.615861214%;
}
.bac1{border:6px 3px solid blue;}
.bac2{border:6px 3px solid red;}
.bac3{border:6px 3px solid orange;}

.box:nth-child(1) {background:blue;}.shitty .box:nth-child(1)a{color:white;}
.box:nth-child(2) {background:red;}.shitty .box:nth-child(1) a {color:lightyellow;}
.box:nth-child(3) {background:orange;color:black;}.shitty .box:nth-child(1) a {color:black;}

/*end function city*/

/*begin function shitty*/
.shitty .box {
  float: left;
  margin: 1.858736059%;margin-top:0;margin-bottom:0;
  text-align: center;
  width: 29.615861214%;
}
.shitty .box:nth-child(1) {background:blue;}.shitty .box:nth-child(1)a{color:white;}
.shitty .box:nth-child(2) {background:red;}.shitty .box:nth-child(1) a {color:lightyellow;}
.shitty .box:nth-child(3) {background:orange;color:black;}.shitty .box:nth-child(1) a {color:black;}
/*end function shitty*/

 figure.box a{font-size:3em;color:black! important}
.yu{text-decoration:none;}
figure.box a:focus, .active {
    background:color:none;font-weight:bold;text-decoration:underline! important;
}

/* Style the tab content */
.tabcontent-one, .tabcontent-two {
    display: none;
    padding:0;
    background-color: white;

}


