/*begin function city*/

.box-set,
.box {
 margin:0;padding:0;}
}
.box-set:before,
.box-set:after {
  content: "";
  display: table;
}
.box-set:after {
  clear: both;
}
.box-set {
  background:white;border-bottom:2px solid black;
  *zoom: 1;height:60px;
}
.box {
  background: white;

  float: left;
  margin: 1.858736059%;
  padding:10px 0;
  text-align: center;
  width: 21.2825279%;
}


/*end function city*/

/*begin function shitty*/
.shitty .box {
  float: left;
  margin: 1.858736059%;
  padding: 20px 0;
  text-align: center;
  width: 29.615861214%;
}
.shitty .box:nth-child(1) {background:blue;}.shitty .box:nth-child(1) a {color:white;}
.shitty .box:nth-child(2) {background:red;}.shitty .box:nth-child(1) a {color:lightyellow;}
.shitty .box:nth-child(3) {background:orange;color:black;}.shitty .box:nth-child(1) a {color:black;}
/*end function shitty*/

 figure.box a{text-decoration:none;font-size:3em;color:black! important}
figure.box a:focus, .active {
    background:color:none;font-weight:bold;text-decoration:underline;
}

/* Style the tab content */
.tabcontent-one, .tabcontent-two {
    display: none;
    padding:0;padding-top:10px;margin-top:40px;
    background-color: white;

}


