/*begin function city*/

.box-set,
.box {
 margin:0;padding:0;}
}
.box-set:before,
.box-set:after {
  content: "";
  display: table;
}
.box-set:after {
  clear: both;
}
.box-set {
  *zoom: 1;height:50px; position:relative;z-index:9;
}
.city{background:black}.shitty{background:white;}
.box {
  float: left;
  margin: 1.858736059%;margin-top:0;margin-bottom:0;
  padding:0;
  text-align: center;
  width: 29.615861214%;
}
.bac1{border:7px solid blue;background:blue;height:100%;}
.bac2{border:7px solid red;background:red;height:100%;}
.bac3{border:7px solid orange;background:orange;height:100%;}

.box:nth-child(1) a{background:blue;}.shitty .box:nth-child(1)a{color:white;}
.box:nth-child(2) a {background:red;}.shitty .box:nth-child(1) a {color:lightyellow;}
.box:nth-child(3) a  {background:orange;color:black;}.shitty .box:nth-child(1) a {color:black;}

/*end function city*/

/*begin function shitty*/
.shitty .box {
  float: left;
  margin: 1.858736059%;margin-top:0;margin-bottom:0;
  padding: 0;
  text-align: center;
  width: 29.615861214%;
}
.shitty .box:nth-child(1) > a {background:blue;}.shitty .box:nth-child(1)a{color:white;}
.shitty .box:nth-child(2) > a {background:red;}.shitty .box:nth-child(1) a {color:lightyellow;}
.shitty .box:nth-child(3) > a {background:orange;color:black;}.shitty .box:nth-child(1) a {color:black;}


/*end function shitty*/

 .city figure.box a{font-size:1.2em;color:black! important;border: 0px solid;display:block;padding:.73em;} /* b careful the padding here can hide utube iframe */ 
 .shitty figure.box a{font-size:1.2em;color:black! important;border: 0px solid;display:block;padding:.73em;} /* b careful the padding here can hide utuiframe */ 

.yu{text-decoration:none;}

figure.box a:focus, .active {         border: 0px solid;
    border-top-left-radius: .5em;border-top-right-radius: .5em; display:block;
    background:color:none;text-decoration:underline! important;
}

/* Style the tab content */
.tabcontent-one, .tabcontent-two {
    display: none;position:relative;z-index:999;
    padding:0;
   /* background-color: white; */
}
.tabcontent-one {    
  width: calc(100% - 14px);
  margin:0 auto;
  margin-bottom:0;
}


/* begin https://coolestguidesontheplanet.com/videodrome/youtube/ */

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

/* end https://coolestguidesontheplanet.com/videodrome/youtube/ */


