---
#u8
---
$A-color:green;$B-color:blue;$C-color:yellow;$D-color:brown;$E-color:lightblue;$F-color:orange;

body,
html{
  margin:0;
  padding:0;
  background:$F-color;
}



@mixin big-bub-1 {
  $bubble-height:100vh;
  height: $bubble-height;
  width:100%;
  margin:0;
  padding:0;
}

.big_bub{
  width:100%;
  margin:0;
  padding:0;
}

.A{
  @include big-bub-1;
  margin-top:100vh;
  background:$A-color;
}

.B{
  @include big-bub-1;
  background:$B-color;
}

.C{
  @include big-bub-1;
  background:$C-color;
}
